:host {
  --aspect-ratio: 16 / 9;
  --border-size: min(10vh, 10vw);
  --height: 60vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.screen.wide {
  --aspect-ratio: 21 / 9;
  --border-size: 8vh;
  --height: 50vh;
}
.screen.super-wide {
  --aspect-ratio: 32 / 9;
  --border-size: 7vh;
  --height: 40vh;
}
.screen.portrait {
  --aspect-ratio: 9 / 16;
  --border-size: 7vh;
  --height: 80vh;
}
.screen.classic {
  --aspect-ratio: 4 / 3;
  --border-size: 8vh;
  --height: 50vh;
}

.screen {
  aspect-ratio: var(--aspect-ratio);
  max-height: var(--height);
  max-width: calc(90% - var(--border-size) * 2);
  height: var(--height);
  width: auto;
  position: relative;
  border-radius: 5vh;
  background-color: #121318;
  outline: 0.5vh solid #c0c0c0;
  border: var(--border-size) solid black;
  cursor: none;
  box-shadow:
    0 0.5vh 1vh rgba(255, 255, 255, 0.05),
    0 3vh 8vh rgba(0, 0, 0, 0.5),
    0 6vh 15vh rgba(0, 0, 0, 0.25),
    inset 0 0 3vh rgba(0, 0, 0, 0.9);
}

.screen::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.04) 15%,
    rgba(255, 255, 255, 0) 40%
  );
}
.screen::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  box-shadow:
    inset 0 0 4vh rgba(0, 0, 0, 0.5),
    inset 0 0 8vh rgba(0, 0, 0, 0.3);
}
.iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5vh;
  container-type: size;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  gap: 4vh;
  --logo-container-height: calc(var(--border-size) * 0.8);
  height: var(--logo-container-height);
  pointer-events: none;
}
.no-logos .logos {
  display: none;
}

.ratp {
  height: calc(var(--logo-container-height) * 0.5);
  fill: #c0c0c0 !important;
}
.stif {
  height: calc(var(--logo-container-height) * 0.4);
}
.led-container {
  position: absolute;
  right: calc(var(--border-size) * -0.7);
  bottom: calc(var(--border-size) * 0.5);
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}
.no-leds .led-container {
  display: none;
}

.led {
  width: 0.5vh;
  height: 0.5vh;
  border-radius: 50%;
  border: 0.1vh solid rgba(255, 255, 255, 0.2);
}

.led-red {
  background-color: #ff3333;
  box-shadow:
    0 0 0.8vh #ff3333,
    inset -0.2vh -0.2vh 0.4vh rgba(0, 0, 0, 0.5);
}

.led-green {
  background-color: #8db600;
  box-shadow:
    0 0 0.8vh #8db600,
    inset -0.2vh -0.2vh 0.4vh rgba(0, 0, 0, 0.5);
}
