<main class="content">
  <div class="screen" [ngClass]="status">
    <div class="led-container">
      <div class="led led-red" (click)="previousStatus(); $event.stopPropagation()"></div>
      <div class="led led-green" (click)="nextStatus(); $event.stopPropagation()"></div>
    </div>

    <iframe
      class="iframe"
      [src]="statusUrl[status]"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <div class="logos">
      <img class="ratp" src="ratp2.svg" />
      <img class="stif" src="stif.svg" />
    </div>
  </div>
</main>
